[Unit]
Description=Jellyseerr Daemon
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/jellyseerr/jellyseerr.conf
Environment=NODE_ENV=production
Type=exec
Restart=on-failure
WorkingDirectory=/opt/jellyseerr
ExecStart=/usr/bin/node dist/index.js
User={{ arrs_flaresolverr_user }}
Group={{ arrs_flaresolverr_group }}

[Install]
WantedBy=multi-user.target
