[Unit]
Description=Radarr Daemon
After=syslog.target network.target
[Service]
User={{ arrs_radarr_user }}
Group={{ arrs_radarr_group }}
Type=simple

ExecStart=/opt/Radarr/Radarr -nobrowser -data=/var/lib/radarr/
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
