[Unit]
Description=Readarr Daemon
After=syslog.target network.target

[Service]
User={{ arrs_readarr_user }}
Group={{ arrs_media_owner }}
UMask=0002
Type=simple
ExecStart=/opt/Readarr/Readarr -nobrowser -data=/var/lib/readarr/
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
